.contenido-centrado{
    width:70%; 
    margin: auto;
}

.contenedor{
    padding-top: 2em;
    height:550px; 
    overflow:auto;
     width: 100%; 
}

.titulo{
    width: 100%; text-align: center;
}
