<div class="contenedor">

    <div class="contenido-centrado">
        <div class="titulo">
            <h1>Bienvenido a Hulk Store</h1>
            <h3>Listado de productos disponibles</h3>
        </div>

    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" class="contenido-centrado" >


        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>


        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>


        <ng-container matColumnDef="stock">
            <th mat-header-cell *matHeaderCellDef> Stock </th>
            <td mat-cell *matCellDef="let element"> {{element.enStock? 'SI':'NO'}} </td>
        </ng-container>


        <ng-container matColumnDef="precio">
            <th mat-header-cell *matHeaderCellDef> Precio </th>
            <td mat-cell *matCellDef="let element"> {{element.precioVenta}} </td>
        </ng-container>

        <ng-container matColumnDef="anadir">
            <th mat-header-cell *matHeaderCellDef> Anadir </th>
            <td mat-cell *matCellDef="let element">
                <div>
                    <button mat-raised-button (click)="openDialog(element)">
                        <em class="material-icons">add_shopping_cart</em>
                        <label></label>
                    </button>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSize]="pageSize" showFirstLastButtons [pageSizeOptions]="[2, 5, 10, 20]" class="contenido-centrado">
    </mat-paginator>



    <div class="contenido-centrado">
        <div class="totales">
            <h2>Totales</h2>
            <table style="float: right">
                <tr>
                    <td>
                        <h3>Subtotal:</h3>
                    </td>
                    <td>
                        <h3 style="padding-left: 5em"> {{carrito.subtotal}}</h3>
                    </td>

                </tr>

                <tr>
                    <td>
                        <h3>Iva:</h3>
                    </td>
                    <td>
                        <h3 style="padding-left: 5em"> {{carrito.iva}}</h3>
                    </td>

                </tr>
                <tr>
                    <td>
                        <h3>Total:</h3>
                    </td>
                    <td>
                        <h3 style="padding-left: 5em"> {{carrito.total}}</h3>
                    </td>

                </tr>

            </table>
        </div>

    </div>
</div>
<button mat-stroked-button color="primary" style="position: absolute; top: 5em; right:  10px;" routerLink="/carrito" (click)="verCarrito()">Ver carrito de compras
    <em class="material-icons">shopping_cart</em>
</button>
