.button {
  float:right !important;
  margin-top:2em;
  }

  .error {
    padding: 16px;
    width: 300px;
    color: white;
    background-color: red;
  }

  .contenedor{
    width: 20%; 
    margin: auto;
}

.contenedor-registro{
  width: 50%; 
  margin: auto;
}

