<!-- Toolbar -->
<div class="toolbar" role="banner">
    <img width="40" alt="Hulk store icon" src="https://cdn.iconscout.com/icon/premium/png-256-thumb/hulk-4-549700.png" />
    
    <span routerLink="/productos">Hulk store</span>
    <div class="spacer"></div>

    <button mat-stroked-button color="primary" routerLink="/productos" routerLinkActive="active">Productos</button>
    <button mat-stroked-button color="primary" routerLink="/kardex">Kardex</button>
    <button mat-stroked-button color="primary" >Personas</button>
    <button mat-stroked-button color="primary" routerLink="/carrito">Carrito</button>
    <button mat-stroked-button color="primary">Ingresar</button>
    <button mat-stroked-button color="primary">Salir</button>

    
</div>